body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  background-color: #131417;
  color: #fff;
  padding: 15px 20px;
  position: relative;
  z-index: 1001;
  @media (max-width: 768px) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1001;
    @media (max-width: 768px) {
      justify-content: space-between;
    }
  }

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border: solid #2D9CDB;
    border-radius: 50%;
    padding: 5px;
    z-index: 1001;
  }

  &__nav {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      margin-top: 82px;
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 50%;
      height: 100%;
      background-color: #131417;
      padding: 20px;
      transition: right 0.3s ease-in-out;
      z-index: 1000;

      &--active {
        right: 0;
      }
      @media (max-width: 375px) {
        width: 90%;
      }
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__item {
    position: relative;

    &--with-submenu::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid orange;
      margin-left: 5px;
      display: inline-block;
      transform: rotate(0deg);
      transition: transform 0.3s ease;
    }

    &--active {
      & > .menu__submenu {
        display: block;
      }

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__link {
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;

    &:hover:not(.menu__link--no-hover),
    &--active {
      color: #ff4d4d;
    }
  }

  &__submenu {
    margin-top: 29px;
    width: 193px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #252830;
    border-radius: 5px;
    padding: 0px 0;
    list-style: none;
    z-index: 100;
    transition: opacity 0.3s ease-in-out;

    @media (max-width: 768px) {
      position: relative;
      box-shadow: none;
    }
  }

  &__submenu-link {
    padding: 10px 15px;
    color: #fff;
    display: block;
    transition: background-color 0.3s;

    &:hover {
      background-color: #131417;
    }
  }

  &__burger {
    display: none;
    width: 30px;
    height: 30px;
    background: url('/src/assets/Vector.png') no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
    z-index: 1001;

    @media (max-width: 768px) {
      display: block;
      position: absolute;
      right: 50px;
    }
  }

  &__overlay {
    display: none;

    &--active {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  }

  .menu__arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-image: url('/src/assets/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;

    &.menu__arrow__second {
      transform: rotate(90deg); /* Для вложенного подменю */
    }
  }

  .menu__item--active .menu__arrow {
    transform: rotate(180deg);
  }

  .menu__item--active .menu__arrow__second {
    transform: rotate(180deg);
  }

  .menu__arrow__second {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-image: url('/src/assets/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-in-out;
    transform: rotate(-90deg) !important;

    &.menu__arrow__second {
      transform: rotate(90deg); /* Для вложенного подменю */
    }
  }
  .menu__submenu-item:hover .menu__arrow__second,
  .menu__submenu-item--active .menu__arrow__second {
    transform: rotate(90deg) !important;
  }

  .menu__submenu--visible {
    display: block;
  }

  .menu__submenu__second {
    width: 193px;
    display: none;
    position: absolute;
    top: 112px;
    left: 104%;
    background-color: #252830;
    border-radius: 5px;
    padding: 0;
    list-style: none;
    z-index: 100;
    transition: opacity 0.3s ease-in-out;
  }

  .menu__submenu__second--visible {
    display: block;
  }

  &__phone {
    display: flex;
    align-items: center;
    z-index: 1001;

    @media (max-width: 768px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &-icon {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background: url('/src/assets/Frame.png') no-repeat center;
      background-size: contain;
    }

    &-number {
      font-size: 16px;
    }
  }
  @media (max-width: 375px) {
    .menu__phone-number {
      display: none;
    }
    .menu__phone-icon {
      display: block;
      position: absolute;
      transform: translateX(270%);
      width: 30px;
      height: 30px;
    }
  }

  &__call-button {
    display: none;

    @media (max-width: 375px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #28a745;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: #218838;
      }
    }
  }
}
